@using Product.Helpers
@model IEnumerable<Product.Models.Item>

<h2>Products</h2>
<p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#itemModal" onclick="loadItem(@ViewData["id"])">Create New</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ImageFor(modelItem => item.Image, "", 200, 200)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#editItemModal" onclick="editItem(@item.ID)">Edit</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteItemModal" onclick="deleteItem(@item.ID)">Delete</button>
        </td>
    </tr>
}

</table>
