@using Product.Helpers
@model Product.Models.Item

@{
    ViewBag.Title = "Delete";
}

<div class="modal-header">
    <h5 class="modal-title" id="deleteItemModalLabel">Delete product</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="card">
        @Html.ImageFor(model => model.Image, "", 200, 200)
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(model => model.Name)</h5>
            <p class="card-text">
                @Html.DisplayNameFor(model => model.Category.Name):&nbsp;@Html.DisplayFor(model => model.Category.Name)
                <br />
                @Html.DisplayNameFor(model => model.Description):&nbsp;@Html.DisplayFor(model => model.Description)
                <br />
                @Html.DisplayNameFor(model => model.EntryDate):&nbsp;@Html.DisplayFor(model => model.EntryDate)
                <br />
                @Html.DisplayNameFor(model => model.Quantity):&nbsp;@Html.DisplayFor(model => model.Quantity)
            </p>
        </div>
    </div>
</div>
<div class="modal-footer">
    @using (Ajax.BeginForm(actionName: "Delete", controllerName: "Items", null, ajaxOptions: new AjaxOptions() { HttpMethod = "POST", OnSuccess = "", OnFailure = "" }))
    {
        @Html.AntiForgeryToken()
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Delete" />
    }
</div>
